Repository rinward23/AstroEngine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @astroengine/maintainers, @astroengine/runtime-core, @astroengine/app-platform, @astroengine/ui-ux, @astroengine/extensibility, @astroengine/docs, @astroengine/qa, @astroengine/release-ops, @astroengine/devex, @astroengine/data-team

.github/CODEOWNERS:

# Code ownership for AstroEngine core directories
# Default owner
* @astroengine/maintainers

# Runtime core and foundational modules
/astroengine/ @astroengine/runtime-core
/core/ @astroengine/runtime-core

# Application surfaces and UI packages
/apps/ @astroengine/app-platform
/ui/ @astroengine/ui-ux

# Plugin ecosystem and registries
/plugins/ @astroengine/extensibility
/registry/ @astroengine/extensibility

# Documentation and specs
/docs/ @astroengine/docs
/docs-site/ @astroengine/docs

# Quality engineering and automation
/tests/ @astroengine/qa
/qa/ @astroengine/qa

# Operational tooling and infrastructure
/.github/ @astroengine/release-ops
/ops/ @astroengine/release-ops
/scripts/ @astroengine/devex

# Data assets and migrations
/data/ @astroengine/data-team
/datasets/ @astroengine/data-team
/migrations/ @astroengine/data-team

Handle dynamic Swiss Ephemeris availability in astrocartography (#574)
  astroengine/analysis/astrocartography.py
  tests/analysis/test_astrocartography.py
Owners: @astroengine/runtime-core, @astroengine/qa

Ensure ReturnComputationError is re-exported
  astroengine/analysis/__init__.py
  tests/analysis/test_package_exports.py
Owners: @astroengine/runtime-core, @astroengine/qa

Ensure ReturnComputationError is re-exported (#575)
  astroengine/analysis/__init__.py
  tests/analysis/test_package_exports.py
Owners: @astroengine/runtime-core, @astroengine/qa

Add paran markers to astrocartography results
  astroengine/analysis/astrocartography.py
  tests/api/test_astrocartography_api.py
Owners: @astroengine/runtime-core, @astroengine/qa

Add paran markers to astrocartography results (#576)
  astroengine/analysis/astrocartography.py
  tests/api/test_astrocartography_api.py
Owners: @astroengine/runtime-core, @astroengine/qa

Fix lots router import and add model validation test
  astroengine/api/routers/lots.py
  tests/api/routers/test_lots_router.py
Owners: @astroengine/runtime-core, @astroengine/qa

Fix lots router import and add model validation test (#577)
  astroengine/api/routers/lots.py
  tests/api/routers/test_lots_router.py
Owners: @astroengine/runtime-core, @astroengine/qa

Handle Swiss Ephemeris unavailability in topocentric router
  astroengine/api/routers/topocentric.py
  tests/api/routers/test_topocentric_router.py
Owners: @astroengine/runtime-core, @astroengine/qa

Handle Swiss Ephemeris unavailability in topocentric router (#578)
  astroengine/api/routers/topocentric.py
  tests/api/routers/test_topocentric_router.py
Owners: @astroengine/runtime-core, @astroengine/qa

Fix scan router datetime import and add tests
  astroengine/api/routers/scan.py
  tests/api/routers/test_scan_router.py
Owners: @astroengine/runtime-core, @astroengine/qa

Allow ephemeris adapter to detect Swiss Ephemeris at runtime
  astroengine/ephemeris/adapter.py
  tests/ephemeris/test_adapter_dynamic_swisseph.py
Owners: @astroengine/runtime-core, @astroengine/qa

Refactor package imports for lazy loading
  astroengine/__init__.py
  astroengine/chart/__init__.py
  astroengine/chart/config.py
  astroengine/core/__init__.py
  astroengine/detectors/directed_aspects.py
  astroengine/engine/__init__.py
  astroengine/ephemeris/__init__.py
  astroengine/ephemeris/adapter.py
  astroengine/ephemeris/cache.py
  astroengine/ephemeris/swisseph_adapter.py
  astroengine/profiles/__init__.py
  astroengine/vca/houses.py
  tests/astroengine/test_package_import.py
Owners: @astroengine/runtime-core, @astroengine/qa

Fix scan router datetime import and add tests (#580)
  astroengine/api/routers/scan.py
  tests/api/routers/test_scan_router.py
Owners: @astroengine/runtime-core, @astroengine/qa

Allow ephemeris adapter to detect Swiss Ephemeris at runtime (#581)
  astroengine/ephemeris/adapter.py
  tests/ephemeris/test_adapter_dynamic_swisseph.py
Owners: @astroengine/runtime-core, @astroengine/qa

Refactor package imports for lazy loading (#582)
  astroengine/__init__.py
  astroengine/chart/__init__.py
  astroengine/chart/config.py
  astroengine/core/__init__.py
  astroengine/detectors/directed_aspects.py
  astroengine/engine/__init__.py
  astroengine/ephemeris/__init__.py
  astroengine/ephemeris/adapter.py
  astroengine/ephemeris/cache.py
  astroengine/ephemeris/swisseph_adapter.py
  astroengine/profiles/__init__.py
  astroengine/vca/houses.py
  tests/astroengine/test_package_import.py
Owners: @astroengine/runtime-core, @astroengine/qa

docs: add diagnostics preflight checklist
  README.md
  docs/DEV_SETUP.md
Owners: @astroengine/maintainers, @astroengine/docs

Fix lint issues in electional, horary, and vedic modules
  astroengine/electional/solver.py
  astroengine/engine/horary/__init__.py
  astroengine/engine/horary/aspects_logic.py
  astroengine/engine/horary/hour_ruler.py
  astroengine/engine/horary/judgement.py
  astroengine/engine/horary/rulers.py
  astroengine/engine/vedic/gochar.py
  astroengine/engine/vedic/shadbala.py
  astroengine/engine/vedic/varga.py
  astroengine/engine/vedic/yogas.py
Owners: @astroengine/runtime-core

Refine Swiss-dependent test gating
  tests/analysis/test_timeline_lunations.py
  tests/conftest.py
  tests/observational/test_altaz_svg.py
  tests/observational/test_rise_set_transit.py
  tests/observational/test_topocentric_vector.py
  tests/observational/test_visibility_windows.py
  tests/property/test_sun_moon_invariants.py
  tests/returns/test_lunar_return_scan.py
  tests/returns/test_planetary_returns.py
  tests/returns/test_solar_return_precision.py
  tests/test_ephemeris_golden_outputs.py
  tests/test_house_and_variants.py
  tests/test_provider_parity.py
  tests/test_rel_plus_houses.py
  tests/test_swisseph_adapter_extensions.py
  tests/test_vca_house_domains.py
  tests/vedic/test_ayanamsa.py
Owners: @astroengine/qa

docs: add diagnostics preflight checklist (#583)
  README.md
  docs/DEV_SETUP.md
Owners: @astroengine/maintainers, @astroengine/docs

Fix lint issues in electional, horary, and vedic modules (#584)
  astroengine/electional/solver.py
  astroengine/engine/horary/__init__.py
  astroengine/engine/horary/aspects_logic.py
  astroengine/engine/horary/hour_ruler.py
  astroengine/engine/horary/judgement.py
  astroengine/engine/horary/rulers.py
  astroengine/engine/vedic/gochar.py
  astroengine/engine/vedic/shadbala.py
  astroengine/engine/vedic/varga.py
  astroengine/engine/vedic/yogas.py
Owners: @astroengine/runtime-core

Refine Swiss-dependent test gating (#585)
  tests/analysis/test_timeline_lunations.py
  tests/conftest.py
  tests/observational/test_altaz_svg.py
  tests/observational/test_rise_set_transit.py
  tests/observational/test_topocentric_vector.py
  tests/observational/test_visibility_windows.py
  tests/property/test_sun_moon_invariants.py
  tests/returns/test_lunar_return_scan.py
  tests/returns/test_planetary_returns.py
  tests/returns/test_solar_return_precision.py
  tests/test_ephemeris_golden_outputs.py
  tests/test_house_and_variants.py
  tests/test_provider_parity.py
  tests/test_rel_plus_houses.py
  tests/test_swisseph_adapter_extensions.py
  tests/test_vca_house_domains.py
  tests/vedic/test_ayanamsa.py
Owners: @astroengine/qa

Package horary tests to avoid duplicate modules
  MANIFEST.in
  astroengine/chart/config.py
  astroengine/detectors_aspects.py
  astroengine/ephemeris/__init__.py
  astroengine/ephemeris/cache.py
  astroengine/ephemeris/house_systems.py
  astroengine/ephemeris/swisseph_adapter.py
  pyproject.toml
  tests/engine/__init__.py
  tests/engine/horary/__init__.py
  tests/horary/__init__.py
Owners: @astroengine/maintainers, @astroengine/runtime-core, @astroengine/qa

Package horary tests to avoid duplicate modules (#586)
  MANIFEST.in
  astroengine/chart/config.py
  astroengine/detectors_aspects.py
  astroengine/ephemeris/__init__.py
  astroengine/ephemeris/house_systems.py
  astroengine/ephemeris/swisseph_adapter.py
  pyproject.toml
  tests/engine/__init__.py
  tests/engine/horary/__init__.py
  tests/horary/__init__.py
Owners: @astroengine/maintainers, @astroengine/runtime-core, @astroengine/qa

Fix Makefile recipe indentation
  Makefile
  mypy.ini
Owners: @astroengine/maintainers

Fix Makefile recipe indentation (#587)
  Makefile
  mypy.ini
Owners: @astroengine/maintainers

Refine horary hour ruler Swiss adapter usage
  astroengine/engine/horary/hour_ruler.py
Owners: @astroengine/runtime-core

Refine horary hour ruler Swiss adapter usage (#588)
  astroengine/engine/horary/hour_ruler.py
Owners: @astroengine/runtime-core

Refine Streamlit natal listing helpers
  tests/test_streamlit_api_client.py
  ui/streamlit/api.py
  ui/streamlit/pages/10_Arabic_Parts.py
  ui/streamlit/pages/12_Forecast_Timeline.py
Owners: @astroengine/qa, @astroengine/ui-ux

Refine Streamlit natal listing helpers (#589)
  tests/test_streamlit_api_client.py
  ui/streamlit/api.py
  ui/streamlit/pages/10_Arabic_Parts.py
  ui/streamlit/pages/12_Forecast_Timeline.py
Owners: @astroengine/qa, @astroengine/ui-ux

Clamp streamlit natal list page size
  tests/test_streamlit_api_client.py
  ui/streamlit/api.py
Owners: @astroengine/qa, @astroengine/ui-ux

Clamp streamlit natal list page size (#590)
  tests/test_streamlit_api_client.py
  ui/streamlit/api.py
Owners: @astroengine/qa, @astroengine/ui-ux

refactor: unify fastapi app factory
  app/main.py
  astroengine/api/_factory.py
  astroengine/api/app.py
Owners: @astroengine/maintainers, @astroengine/runtime-core

Refine public API surface and add charts/transits submodules
  README.md
  astroengine/__init__.py
  astroengine/charts.py
  astroengine/ephemeris/__init__.py
  astroengine/ephemeris/adapter.py
  astroengine/transits.py
  docs/module/cross_tradition_calendars.md
  generated/__init__.py
  tests/test_module_registry.py
Owners: @astroengine/maintainers, @astroengine/runtime-core, @astroengine/docs, @astroengine/qa

Refactor transit scanning into shared service
  astroengine/core/transit_engine.py
  astroengine/engine/scanning.py
  astroengine/transits/__init__.py
  astroengine/transits/engine.py
Owners: @astroengine/runtime-core

refactor: unify fastapi app factory (#591)
  app/main.py
  astroengine/api/_factory.py
  astroengine/api/app.py
Owners: @astroengine/maintainers, @astroengine/runtime-core

Refine public API surface and add charts/transits submodules (#592)
  README.md
  astroengine/__init__.py
  astroengine/charts.py
  astroengine/ephemeris/__init__.py
  astroengine/ephemeris/adapter.py
  astroengine/transits.py
  docs/module/cross_tradition_calendars.md
  generated/__init__.py
  tests/test_module_registry.py
Owners: @astroengine/maintainers, @astroengine/runtime-core, @astroengine/docs, @astroengine/qa

Refactor transit scanning into shared service (#593)
  astroengine/core/transit_engine.py
  astroengine/engine/scanning.py
  astroengine/transits/__init__.py
  astroengine/transits/engine.py
Owners: @astroengine/runtime-core

Fix tuple checks in app API payload normalization
  astroengine/app_api.py
  tests/app/test_app_api.py
Owners: @astroengine/runtime-core, @astroengine/qa

Fix tuple checks in app API payload normalization (#594)
  astroengine/app_api.py
  tests/app/test_app_api.py
Owners: @astroengine/runtime-core, @astroengine/qa

Allow scan API kwargs passthrough for var keywords
  astroengine/app_api.py
  tests/app/test_app_api.py
Owners: @astroengine/runtime-core, @astroengine/qa
