Repository rinward23/AstroEngine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @astroengine/maintainers, @astroengine/runtime-core, @astroengine/app-platform, @astroengine/ui-ux, @astroengine/extensibility, @astroengine/docs, @astroengine/qa, @astroengine/release-ops, @astroengine/devex, @astroengine/data-team

.github/CODEOWNERS:

# Code ownership for AstroEngine core directories
# Default owner
* @astroengine/maintainers

# Runtime core and foundational modules
/astroengine/ @astroengine/runtime-core
/core/ @astroengine/runtime-core

# Application surfaces and UI packages
/apps/ @astroengine/app-platform
/ui/ @astroengine/ui-ux

# Plugin ecosystem and registries
/plugins/ @astroengine/extensibility
/registry/ @astroengine/extensibility

# Documentation and specs
/docs/ @astroengine/docs
/docs-site/ @astroengine/docs

# Quality engineering and automation
/tests/ @astroengine/qa
/qa/ @astroengine/qa

# Operational tooling and infrastructure
/.github/ @astroengine/release-ops
/ops/ @astroengine/release-ops
/scripts/ @astroengine/devex

# Data assets and migrations
/data/ @astroengine/data-team
/datasets/ @astroengine/data-team
/migrations/ @astroengine/data-team

Use context manager for desktop config saving
  astroengine/ux/desktop/config.py
  tests/desktop/test_config.py
Owners: @astroengine/runtime-core, @astroengine/qa

Clarify timelord CLI loosing label
  CHANGELOG.md
  astroengine/cli_legacy.py
Owners: @astroengine/maintainers, @astroengine/runtime-core

Document and enforce Swiss Ephemeris delta-T configuration
  docs/module/providers_and_frames.md
  profiles/base_profile.yaml
  tests/test_config_features.py
Owners: @astroengine/docs, @astroengine/maintainers, @astroengine/qa

Allow scan API kwargs passthrough for var keywords (#595)
  astroengine/app_api.py
  tests/app/test_app_api.py
Owners: @astroengine/runtime-core, @astroengine/qa

Use context manager for desktop config saving (#596)
  astroengine/ux/desktop/config.py
  tests/desktop/test_config.py
Owners: @astroengine/runtime-core, @astroengine/qa

Clarify timelord CLI loosing label (#597)
  CHANGELOG.md
  astroengine/cli_legacy.py
Owners: @astroengine/maintainers, @astroengine/runtime-core

Document and enforce Swiss Ephemeris delta-T configuration (#598)
  docs/module/providers_and_frames.md
  profiles/base_profile.yaml
  tests/test_config_features.py
Owners: @astroengine/docs, @astroengine/maintainers, @astroengine/qa

Document detector schema coverage
  docs/module/event-detectors/overview.md
  docs/module/interop.md
Owners: @astroengine/docs

Add webhook job schema and verification tooling
  astroengine/cli/app.py
  astroengine/data/schemas.py
  astroengine/developer_platform/__init__.py
  astroengine/developer_platform/webhooks.py
  astroengine/modules/developer_platform/__init__.py
  datasets/solarfire/jobs/README.md
  datasets/solarfire/jobs/job_delivery_completed.json
  datasets/solarfire/jobs/job_delivery_failed.json
  docs/module/developer_platform/webhooks.md
  docs/module/interop.md
  schemas/webhooks/job_delivery.json
  tests/test_webhook_job_contracts.py
Owners: @astroengine/runtime-core, @astroengine/data-team, @astroengine/docs, @astroengine/maintainers, @astroengine/qa

Document module dependencies in compatibility matrix
  docs/COMPATIBILITY_MATRIX.md
  scripts/update_compat_matrix.py
  tests/docs/test_compat_matrix.py
Owners: @astroengine/docs, @astroengine/devex, @astroengine/qa

feat: scaffold sdk workspaces
  astroengine/modules/developer_platform/__init__.py
  docs/module/developer_platform/sdks.md
  openapi/v1.0.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdks/python/CHANGELOG.md
  sdks/python/README.md
  sdks/python/astro_sdk/__init__.py
  sdks/python/astro_sdk/client.py
  sdks/python/astro_sdk/errors.py
  sdks/python/astro_sdk/generated/schema.py
  sdks/python/astro_sdk/pagination.py
  sdks/python/poetry.lock
  sdks/python/pyproject.toml
  sdks/python/scripts/generate.py
  sdks/python/tests/test_client.py
  sdks/python/tests/test_generator.py
  sdks/typescript/CHANGELOG.md
  sdks/typescript/README.md
  sdks/typescript/package.json
  sdks/typescript/scripts/generate.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/errors.ts
  sdks/typescript/src/generated/operations.ts
  sdks/typescript/src/generated/release.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/middleware/retry.ts
  sdks/typescript/src/types.ts
  sdks/typescript/tests/client.test.ts
  sdks/typescript/tests/generator.test.ts
  sdks/typescript/tests/workflow.test.ts
  sdks/typescript/tsconfig.json
  sdks/typescript/vitest.config.ts
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/maintainers

Document detector schema coverage (#599)
  docs/module/event-detectors/overview.md
  docs/module/interop.md
Owners: @astroengine/docs

Add webhook job schema and verification tooling (#600)
  astroengine/cli/app.py
  astroengine/data/schemas.py
  astroengine/developer_platform/__init__.py
  astroengine/developer_platform/webhooks.py
  astroengine/modules/developer_platform/__init__.py
  datasets/solarfire/jobs/README.md
  datasets/solarfire/jobs/job_delivery_completed.json
  datasets/solarfire/jobs/job_delivery_failed.json
  docs/module/developer_platform/webhooks.md
  docs/module/interop.md
  schemas/webhooks/job_delivery.json
  tests/test_webhook_job_contracts.py
Owners: @astroengine/runtime-core, @astroengine/data-team, @astroengine/docs, @astroengine/maintainers, @astroengine/qa

Document module dependencies in compatibility matrix (#601)
  docs/COMPATIBILITY_MATRIX.md
  scripts/update_compat_matrix.py
  tests/docs/test_compat_matrix.py
Owners: @astroengine/docs, @astroengine/devex, @astroengine/qa

feat: scaffold sdk workspaces (#602)
  astroengine/modules/developer_platform/__init__.py
  docs/module/developer_platform/sdks.md
  openapi/v1.0.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdks/python/CHANGELOG.md
  sdks/python/README.md
  sdks/python/astro_sdk/__init__.py
  sdks/python/astro_sdk/client.py
  sdks/python/astro_sdk/errors.py
  sdks/python/astro_sdk/generated/schema.py
  sdks/python/astro_sdk/pagination.py
  sdks/python/poetry.lock
  sdks/python/pyproject.toml
  sdks/python/scripts/generate.py
  sdks/python/tests/test_client.py
  sdks/python/tests/test_generator.py
  sdks/typescript/CHANGELOG.md
  sdks/typescript/README.md
  sdks/typescript/package.json
  sdks/typescript/scripts/generate.ts
  sdks/typescript/src/client.ts
  sdks/typescript/src/errors.ts
  sdks/typescript/src/generated/operations.ts
  sdks/typescript/src/generated/release.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/middleware/retry.ts
  sdks/typescript/src/types.ts
  sdks/typescript/tests/client.test.ts
  sdks/typescript/tests/generator.test.ts
  sdks/typescript/tests/workflow.test.ts
  sdks/typescript/tsconfig.json
  sdks/typescript/vitest.config.ts
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/maintainers
