Repository rinward23/AstroEngine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @astroengine/maintainers, @astroengine/runtime-core, @astroengine/app-platform, @astroengine/ui-ux, @astroengine/extensibility, @astroengine/docs, @astroengine/qa, @astroengine/release-ops, @astroengine/devex, @astroengine/data-team

.github/CODEOWNERS:

# Code ownership for AstroEngine core directories
# Default owner
* @astroengine/maintainers

# Runtime core and foundational modules
/astroengine/ @astroengine/runtime-core
/core/ @astroengine/runtime-core

# Application surfaces and UI packages
/apps/ @astroengine/app-platform
/ui/ @astroengine/ui-ux

# Plugin ecosystem and registries
/plugins/ @astroengine/extensibility
/registry/ @astroengine/extensibility

# Documentation and specs
/docs/ @astroengine/docs
/docs-site/ @astroengine/docs

# Quality engineering and automation
/tests/ @astroengine/qa
/qa/ @astroengine/qa

# Operational tooling and infrastructure
/.github/ @astroengine/release-ops
/ops/ @astroengine/release-ops
/scripts/ @astroengine/devex

# Data assets and migrations
/data/ @astroengine/data-team
/datasets/ @astroengine/data-team
/migrations/ @astroengine/data-team

Add Solar Fire hash verification tooling and CI guard
  .github/workflows/solarfire-parity.yml
  docs/module/qa_acceptance.md
  qa/artifacts/solarfire/2025-10-02/provenance_ingestion.md
  qa/artifacts/solarfire/expectations.json
  qa/validation/report.py
  tests/test_report_hashes.py
Owners: @astroengine/release-ops, @astroengine/docs, @astroengine/qa

Expand FK6 fixed-star catalogue and plugin coverage
  astroengine/data/fixed_stars.csv
  astroengine/plugins/examples/fixed_star_hits.py
  docs/governance/evidence/2025-10-02-dataset-checksums.txt
  docs/module/data-packs.md
  docs/module/event-detectors/channels/README.md
  docs/module/event-detectors/overview.md
  docs/reference/astrological_indicators.md
  profiles/fixed_stars.csv
  tests/test_fixed_stars_analysis.py
  tests/test_plugins.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/maintainers, @astroengine/qa

Add schemas for detector shadow and house ingress payloads
  astroengine/data/schemas.py
  docs/module/event-detectors/channels/README.md
  docs/module/event-detectors/overview.md
  docs/module/interop.md
  schemas/house_ingress_event_v1.json
  schemas/shadow_period_event_v1.json
  tests/test_result_schema.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/maintainers, @astroengine/qa

Add coverage for signed_delta boundary handling
  tests/test_angles.py
Owners: @astroengine/qa

Add coverage for signed_delta boundary handling
  tests/test_angles.py
Owners: @astroengine/qa

Add regression test for Swiss ephemeris requirement
  tests/test_ingress_features.py
Owners: @astroengine/qa

Add regression test for sign ingress fallback
  tests/test_ingress_features.py
Owners: @astroengine/qa

Add atlas geocoder DSL, heatmap hints, and tile caching
  astroengine/atlas/bundle_manager/__init__.py
  astroengine/atlas/geocoder/__init__.py
  astroengine/atlas/geocoder/dsl.py
  astroengine/atlas/geocoder/reverse.py
  astroengine/atlas/geocoder/transliterate.py
  astroengine/geo/atlas.py
  data/atlas/offline_sample.sql
  docs/ATLAS_TZ_SPEC.md
  tests/test_atlas_geocoder.py
  tests/test_geo_atlas.py
  ui/streamlit/components/location_picker.py
Owners: @astroengine/runtime-core, @astroengine/data-team, @astroengine/docs, @astroengine/qa, @astroengine/ui-ux

Add Skyfield vs Swiss parity fixtures and tests
  docs/module/providers_and_frames.md
  docs/module/qa_acceptance.md
  qa/artifacts/provider_parity/README.md
  qa/artifacts/provider_parity/charts.json
  tests/test_provider_parity.py
Owners: @astroengine/docs, @astroengine/qa

Add detector latency benchmarks and document budgets
  docs/module/event-detectors/overview.md
  docs/module/qa_acceptance.md
  qa/artifacts/benchmarks/detectors/2025-10-02.json
  tests/perf/test_detectors_bench.py
Owners: @astroengine/docs, @astroengine/qa

Allow golden detector tests without Swiss ephemeris
  docs/burndown.md
  docs/module/qa_acceptance.md
  pytest.ini
  tests/conftest.py
  tests/golden/detectors/README.md
  tests/golden/detectors/timeline_mars_saturn.jsonl
  tests/golden/detectors/timeline_mars_saturn.sha256
  tests/helpers/detector_golden_dump.py
  tests/test_detector_golden_outputs.py
Owners: @astroengine/docs, @astroengine/maintainers, @astroengine/qa

Add schemas for detector shadow and house ingress payloads
  astroengine/data/schemas.py
  docs/module/event-detectors/channels/README.md
  docs/module/event-detectors/overview.md
  docs/module/interop.md
  schemas/house_ingress_event_v1.json
  schemas/shadow_period_event_v1.json
  tests/test_result_schema.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/maintainers, @astroengine/qa

Add ruleset DSL parser, linter, and tests
  astroengine/cli/app.py
  astroengine/core/ruleset_dsl/__init__.py
  astroengine/core/ruleset_dsl/linter.py
  astroengine/core/ruleset_dsl/parser.py
  tests/test_ruleset_dsl_parser.py
Owners: @astroengine/runtime-core, @astroengine/qa

Implement aspects+ time-range search utilities
  astroengine/core/aspects_plus/__init__.py
  astroengine/core/aspects_plus/search.py
  astroengine/modules/mundane/__init__.py
  astroengine/mundane/__init__.py
  astroengine/mundane/cycles.py
  tests/test_aspect_search.py
Owners: @astroengine/runtime-core, @astroengine/qa

Add Windows installer support runbook and cross-references (#530)
  docs/DEV_SETUP.md
  docs/module/developer_platform/submodules/installers/windows_one_click.md
  docs/quickstart.md
  docs/runbook/windows_installer_support.md
Owners: @astroengine/docs

Implement provider metadata registry and document detector wiring (#531)
  astroengine/modules/event_detectors/__init__.py
  astroengine/modules/providers/__init__.py
  astroengine/providers/__init__.py
  astroengine/providers/skyfield_provider.py
  astroengine/providers/swiss_provider.py
  docs/governance/evidence/2025-10-05-detectors-providers.md
  docs/governance/spec_completion.md
  docs/module/event-detectors/overview.md
  docs/module/providers_and_frames.md
  docs/providers/registry.md
  tests/test_event_detectors_module_registry.py
  tests/test_provider_registry_metadata.py
  tests/test_providers_module_registry.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/qa

Add provider metrics aggregation and instrumentation (#532)
  astroengine/observability/__init__.py
  astroengine/observability/metrics.py
  astroengine/providers/__init__.py
  docs/providers/registry.md
  tests/observability/test_metrics.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/qa

Add CLI entrypoints for transit scan and ephemeris pull (#533)
  Dockerfile
  astroengine/cli/app.py
  astroengine/ephe/__init__.py
  astroengine/ephe/pull.py
  docker-compose.yml
  tests/integration/test_docker_cli_commands.py
  tests/test_ephe_pull.py
Owners: @astroengine/maintainers, @astroengine/runtime-core, @astroengine/qa

Add export manifest schema and CLI integration (#534)
  astroengine/cli/channels/transit/scan.py
  astroengine/cli/export.py
  astroengine/exporters/manifest.py
  docs/module/interop.md
  schemas/export_manifest_v1.json
  tests/test_cli.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/maintainers, @astroengine/qa

Implement ingress detector toggles and CLI command (#535)
  astroengine/app_api.py
  astroengine/cli/app.py
  astroengine/detectors/ingresses.py
  astroengine/modules/event_detectors/__init__.py
  docs/mundane_ingress.md
  tests/test_cli.py
  tests/test_ingresses_mundane.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/qa

Add Solar Fire hash verification tooling and CI guard (#536)
  .github/workflows/solarfire-parity.yml
  docs/module/qa_acceptance.md
  qa/artifacts/solarfire/2025-10-02/provenance_ingestion.md
  qa/artifacts/solarfire/expectations.json
  qa/validation/report.py
  tests/test_report_hashes.py
Owners: @astroengine/release-ops, @astroengine/docs, @astroengine/qa

Expand FK6 fixed-star catalogue and plugin coverage (#537)
  astroengine/data/fixed_stars.csv
  astroengine/plugins/examples/fixed_star_hits.py
  docs/governance/evidence/2025-10-02-dataset-checksums.txt
  docs/module/data-packs.md
  docs/module/event-detectors/channels/README.md
  docs/module/event-detectors/overview.md
  docs/reference/astrological_indicators.md
  profiles/fixed_stars.csv
  tests/test_fixed_stars_analysis.py
  tests/test_plugins.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/maintainers, @astroengine/qa

Add schemas for detector shadow and house ingress payloads (#538)
  astroengine/data/schemas.py
  docs/module/event-detectors/channels/README.md
  docs/module/event-detectors/overview.md
  docs/module/interop.md
  schemas/house_ingress_event_v1.json
  schemas/shadow_period_event_v1.json
  tests/test_result_schema.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/maintainers, @astroengine/qa

Add coverage for signed_delta boundary handling (#539)
  tests/test_angles.py
Owners: @astroengine/qa

Add regression test for Swiss ephemeris requirement (#541)
  tests/test_ingress_features.py
Owners: @astroengine/qa

Add regression test for sign ingress fallback (#542)
  tests/test_ingress_features.py
Owners: @astroengine/qa

Add atlas geocoder DSL, heatmap hints, and tile caching (#543)
  astroengine/atlas/bundle_manager/__init__.py
  astroengine/atlas/geocoder/__init__.py
  astroengine/atlas/geocoder/dsl.py
  astroengine/atlas/geocoder/reverse.py
  astroengine/atlas/geocoder/transliterate.py
  astroengine/geo/atlas.py
  data/atlas/offline_sample.sql
  docs/ATLAS_TZ_SPEC.md
  tests/test_atlas_geocoder.py
  tests/test_geo_atlas.py
  ui/streamlit/components/location_picker.py
Owners: @astroengine/runtime-core, @astroengine/data-team, @astroengine/docs, @astroengine/qa, @astroengine/ui-ux

Add Skyfield vs Swiss parity fixtures and tests (#544)
  docs/module/providers_and_frames.md
  docs/module/qa_acceptance.md
  qa/artifacts/provider_parity/README.md
  qa/artifacts/provider_parity/charts.json
  tests/test_provider_parity.py
Owners: @astroengine/docs, @astroengine/qa

Add detector latency benchmarks and document budgets (#545)
  docs/module/qa_acceptance.md
  qa/artifacts/benchmarks/detectors/2025-10-02.json
  tests/perf/test_detectors_bench.py
Owners: @astroengine/docs, @astroengine/qa

Allow golden detector tests without Swiss ephemeris (#546)
  docs/burndown.md
  docs/module/qa_acceptance.md
  pytest.ini
  tests/conftest.py
  tests/golden/detectors/README.md
  tests/golden/detectors/timeline_mars_saturn.jsonl
  tests/golden/detectors/timeline_mars_saturn.sha256
  tests/helpers/detector_golden_dump.py
  tests/test_detector_golden_outputs.py
Owners: @astroengine/docs, @astroengine/maintainers, @astroengine/qa

Add ruleset DSL parser, linter, and tests (#548)
  astroengine/cli/app.py
  astroengine/core/ruleset_dsl/__init__.py
  astroengine/core/ruleset_dsl/linter.py
  astroengine/core/ruleset_dsl/parser.py
  tests/test_ruleset_dsl_parser.py
Owners: @astroengine/runtime-core, @astroengine/qa

Implement aspects+ time-range search utilities (#549)
  astroengine/core/aspects_plus/__init__.py
  astroengine/core/aspects_plus/search.py
  astroengine/modules/mundane/__init__.py
  astroengine/mundane/__init__.py
  astroengine/mundane/cycles.py
  tests/test_aspect_search.py
Owners: @astroengine/runtime-core, @astroengine/qa

Fix esoteric registry imports
  astroengine/esoteric/__init__.py
  astroengine/modules/esoteric/__init__.py
  docs/profiles.md
  profiles/dashboard_panes.yaml
  ui/streamlit/main_portal.py
  ui/streamlit/panes/__init__.py
  ui/streamlit/panes/catalog.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/maintainers, @astroengine/ui-ux

Fix launchpad page links in Streamlit portal
  docs/quickstart.md
  ui/streamlit/launchpad.yaml
  ui/streamlit/main_portal.py
Owners: @astroengine/docs, @astroengine/ui-ux

Add focused timelord metadata unit test
  astroengine/modules/esoteric/__init__.py
  tests/engine/test_scanning_timelords.py
Owners: @astroengine/runtime-core, @astroengine/qa

Add targeted tests for signed_delta edge cases
  tests/test_angles_utils.py
Owners: @astroengine/qa

Add ingress policy tests and fix esoteric import
  astroengine/modules/esoteric/__init__.py
  tests/detectors/test_ingresses_policy.py
Owners: @astroengine/runtime-core, @astroengine/qa

Handle default dashboard layout gracefully
  profiles/dashboard_layout.json
  ui/streamlit/layout_state.py
  ui/streamlit/main_portal.py
Owners: @astroengine/maintainers, @astroengine/ui-ux

Add deterministic timelord unit test for partial segments
  tests/timelords/test_dashas_unit.py
Owners: @astroengine/qa

Fix esoteric registry imports (#550)
  astroengine/esoteric/__init__.py
  astroengine/modules/esoteric/__init__.py
  docs/profiles.md
  profiles/dashboard_panes.yaml
  ui/streamlit/main_portal.py
  ui/streamlit/panes/__init__.py
  ui/streamlit/panes/catalog.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/maintainers, @astroengine/ui-ux
