Repository rinward23/AstroEngine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @astroengine/maintainers, @astroengine/runtime-core, @astroengine/app-platform, @astroengine/ui-ux, @astroengine/extensibility, @astroengine/docs, @astroengine/qa, @astroengine/release-ops, @astroengine/devex, @astroengine/data-team

.github/CODEOWNERS:

# Code ownership for AstroEngine core directories
# Default owner
* @astroengine/maintainers

# Runtime core and foundational modules
/astroengine/ @astroengine/runtime-core
/core/ @astroengine/runtime-core

# Application surfaces and UI packages
/apps/ @astroengine/app-platform
/ui/ @astroengine/ui-ux

# Plugin ecosystem and registries
/plugins/ @astroengine/extensibility
/registry/ @astroengine/extensibility

# Documentation and specs
/docs/ @astroengine/docs
/docs-site/ @astroengine/docs

# Quality engineering and automation
/tests/ @astroengine/qa
/qa/ @astroengine/qa

# Operational tooling and infrastructure
/.github/ @astroengine/release-ops
/ops/ @astroengine/release-ops
/scripts/ @astroengine/devex

# Data assets and migrations
/data/ @astroengine/data-team
/datasets/ @astroengine/data-team
/migrations/ @astroengine/data-team

Fix Skyfield ecliptic axes and add regression test
  astroengine/providers/skyfield_provider.py
  tests/test_providers.py
Owners: @astroengine/runtime-core, @astroengine/qa

Fix Skyfield ecliptic axes and add regression test (#491)
  astroengine/providers/skyfield_provider.py
  tests/test_providers.py
Owners: @astroengine/runtime-core, @astroengine/qa

Fix Skyfield longitude/latitude ordering
  astroengine/providers/skyfield_provider.py
  tests/test_providers.py
Owners: @astroengine/runtime-core, @astroengine/qa

Add single-body API to skyfield provider
  astroengine/providers/skyfield_provider.py
  tests/test_providers.py
Owners: @astroengine/runtime-core, @astroengine/qa

Add single-body API to skyfield provider (#493)
  astroengine/providers/skyfield_provider.py
  tests/test_providers.py
Owners: @astroengine/runtime-core, @astroengine/qa

Skip optional extras suite on PRs
  .github/workflows/optional-extras.yml
Owners: @astroengine/release-ops

Skip optional extras suite on PRs (#494)
  .github/workflows/optional-extras.yml
Owners: @astroengine/release-ops

Limit guardrail lint and tests to push events
  .github/workflows/phase7-ci-guardrails.yml
Owners: @astroengine/release-ops

Limit guardrail lint and tests to push events (#495)
  .github/workflows/phase7-ci-guardrails.yml
Owners: @astroengine/release-ops

Optimize skyfield positions computation
  astroengine/providers/skyfield_provider.py
Owners: @astroengine/runtime-core

Refactor positions cache connection handling
  astroengine/cache/positions_cache.py
Owners: @astroengine/runtime-core

Process retention files lazily
  astroengine/infrastructure/retention.py
Owners: @astroengine/runtime-core

Refactor positions cache connection handling
  astroengine/cache/positions_cache.py
Owners: @astroengine/runtime-core

Stream Parquet canonical export in batches
  astroengine/canonical.py
Owners: @astroengine/runtime-core

Stream canonical events to SQLite in batches
  astroengine/canonical.py
Owners: @astroengine/runtime-core

Use range iteration for daily cache warming
  astroengine/cache/positions_cache.py
Owners: @astroengine/runtime-core

Refactor export JSONL loading and add tests
  astroengine/cli/export.py
  tests/test_cli.py
Owners: @astroengine/runtime-core, @astroengine/qa

Handle exporter iterables lazily
  astroengine/exporters/__init__.py
  tests/test_exporters_generators.py
Owners: @astroengine/runtime-core, @astroengine/qa

Refactor scheduler DB connection handling
  astroengine/scheduler/db.py
  astroengine/scheduler/queue.py
Owners: @astroengine/runtime-core

Guard SQLite migrations per process
  astroengine/canonical.py
  astroengine/infrastructure/storage/sqlite/engine.py
  astroengine/infrastructure/storage/sqlite/query.py
Owners: @astroengine/runtime-core

Stream export data to limit memory usage
  app/routers/data_io.py
  tests/app/test_data_io_export.py
Owners: @astroengine/maintainers, @astroengine/qa

Batch chart lookup during import
  app/routers/data_io.py
  tests/test_api_import_export.py
Owners: @astroengine/maintainers, @astroengine/qa

Stream import bundles from disk
  app/routers/data_io.py
  tests/test_api_import_export.py
Owners: @astroengine/maintainers, @astroengine/qa

Refactor snapshot streaming pipeline
  astroengine/snapshot/core.py
Owners: @astroengine/runtime-core

Stream import bundles from disk (#509)
  app/routers/data_io.py
  tests/test_api_import_export.py
Owners: @astroengine/maintainers, @astroengine/qa

Optimize skyfield positions computation (#496)
  astroengine/providers/skyfield_provider.py
Owners: @astroengine/runtime-core

Refactor positions cache connection handling (#497)
  astroengine/cache/positions_cache.py
Owners: @astroengine/runtime-core

Process retention files lazily (#498)
  astroengine/infrastructure/retention.py
Owners: @astroengine/runtime-core

Stream Parquet canonical export in batches (#500)
  astroengine/canonical.py
Owners: @astroengine/runtime-core

Stream canonical events to SQLite in batches (#501)
  astroengine/canonical.py
Owners: @astroengine/runtime-core

Use range iteration for daily cache warming (#502)
  astroengine/cache/positions_cache.py
Owners: @astroengine/runtime-core

Refactor export JSONL loading and add tests (#503)
  astroengine/cli/export.py
  tests/test_cli.py
Owners: @astroengine/runtime-core, @astroengine/qa

Handle exporter iterables lazily (#504)
  astroengine/exporters/__init__.py
  tests/test_exporters_generators.py
Owners: @astroengine/runtime-core, @astroengine/qa

Refactor scheduler DB connection handling (#505)
  astroengine/scheduler/db.py
  astroengine/scheduler/queue.py
Owners: @astroengine/runtime-core

Guard SQLite migrations per process (#506)
  astroengine/canonical.py
  astroengine/infrastructure/storage/sqlite/engine.py
  astroengine/infrastructure/storage/sqlite/query.py
Owners: @astroengine/runtime-core

Stream export data to limit memory usage (#507)
  app/routers/data_io.py
  tests/app/test_data_io_export.py
Owners: @astroengine/maintainers, @astroengine/qa

Batch chart lookup during import (#508)
  tests/test_api_import_export.py
Owners: @astroengine/qa

Refactor snapshot streaming pipeline (#510)
  astroengine/snapshot/core.py
Owners: @astroengine/runtime-core

Refactor runtime settings module
  app/routers/charts.py
  app/routers/data_io.py
  app/routers/narrative_mix.py
  app/routers/narrative_profiles.py
  app/routers/profiles.py
  app/routers/settings.py
  app/telemetry.py
  astroengine/analysis/dignities.py
  astroengine/analysis/midpoints.py
  astroengine/api/routers/astrocartography.py
  astroengine/api/routers/electional.py
  astroengine/api/routers/forecast.py
  astroengine/api/routers/returns.py
  astroengine/api/routers/timeline.py
  astroengine/cli/export.py
  astroengine/config/__init__.py
  astroengine/geo/atlas.py
  astroengine/observability/doctor.py
  astroengine/pipeline/provision.py
  astroengine/runtime_config.py
  astroengine/ux/desktop/wizard.py
  ui/streamlit/10_Astrocartography_Map.py
  ui/streamlit/advanced_config.py
  ui/streamlit/components/chatgpt_panel.py
  ui/streamlit/narrative_profiles_manager.py
  ui/streamlit/pages/09_Chart_Wheel_Aspectarian.py
  ui/streamlit/pages/12_Multiwheel_Synastry.py
  ui/streamlit/pages/12_Timeline_Finder.py
  ui/streamlit/profiles_manager.py
  ui/streamlit/settings_panel.py
Owners: @astroengine/maintainers, @astroengine/runtime-core, @astroengine/ui-ux

Add pydantic-settings dependency
  pyproject.toml
  requirements.lock/py311-deps.txt
  requirements.lock/py311.txt
Owners: @astroengine/maintainers
