Repository rinward23/AstroEngine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @astroengine/maintainers, @astroengine/runtime-core, @astroengine/app-platform, @astroengine/ui-ux, @astroengine/extensibility, @astroengine/docs, @astroengine/qa, @astroengine/release-ops, @astroengine/devex, @astroengine/data-team

.github/CODEOWNERS:

# Code ownership for AstroEngine core directories
# Default owner
* @astroengine/maintainers

# Runtime core and foundational modules
/astroengine/ @astroengine/runtime-core
/core/ @astroengine/runtime-core

# Application surfaces and UI packages
/apps/ @astroengine/app-platform
/ui/ @astroengine/ui-ux

# Plugin ecosystem and registries
/plugins/ @astroengine/extensibility
/registry/ @astroengine/extensibility

# Documentation and specs
/docs/ @astroengine/docs
/docs-site/ @astroengine/docs

# Quality engineering and automation
/tests/ @astroengine/qa
/qa/ @astroengine/qa

# Operational tooling and infrastructure
/.github/ @astroengine/release-ops
/ops/ @astroengine/release-ops
/scripts/ @astroengine/devex

# Data assets and migrations
/data/ @astroengine/data-team
/datasets/ @astroengine/data-team
/migrations/ @astroengine/data-team

Classify chart angles as points
  astroengine/core/bodies.py
  profiles/scoring_policy.json
  tests/test_body_gating.py
Owners: @astroengine/runtime-core, @astroengine/maintainers, @astroengine/qa

Refine transit body lookup and add tests
  astroengine/core/transit_engine.py
  tests/test_transit_body_resolution.py
Owners: @astroengine/runtime-core, @astroengine/qa

Refine transit body lookup and add tests
  astroengine/core/transit_engine.py
  tests/test_transit_body_resolution.py
Owners: @astroengine/runtime-core, @astroengine/qa

Refine transit body lookup and add tests (#515)
  astroengine/core/transit_engine.py
  tests/test_transit_body_resolution.py
Owners: @astroengine/runtime-core, @astroengine/qa

Refactor runtime settings module (#511)
  app/routers/charts.py
  app/routers/data_io.py
  app/routers/narrative_mix.py
  app/routers/narrative_profiles.py
  app/routers/profiles.py
  app/routers/settings.py
  app/telemetry.py
  astroengine/analysis/dignities.py
  astroengine/analysis/midpoints.py
  astroengine/api/routers/astrocartography.py
  astroengine/api/routers/electional.py
  astroengine/api/routers/forecast.py
  astroengine/api/routers/returns.py
  astroengine/api/routers/timeline.py
  astroengine/cli/export.py
  astroengine/config/__init__.py
  astroengine/geo/atlas.py
  astroengine/observability/doctor.py
  astroengine/pipeline/provision.py
  astroengine/runtime_config.py
  astroengine/ux/desktop/wizard.py
  ui/streamlit/10_Astrocartography_Map.py
  ui/streamlit/advanced_config.py
  ui/streamlit/components/chatgpt_panel.py
  ui/streamlit/narrative_profiles_manager.py
  ui/streamlit/pages/09_Chart_Wheel_Aspectarian.py
  ui/streamlit/pages/12_Multiwheel_Synastry.py
  ui/streamlit/pages/12_Timeline_Finder.py
  ui/streamlit/profiles_manager.py
  ui/streamlit/settings_panel.py
Owners: @astroengine/maintainers, @astroengine/runtime-core, @astroengine/ui-ux

Add pydantic-settings dependency (#512)
  pyproject.toml
  requirements.lock/py311-deps.txt
  requirements.lock/py311.txt
Owners: @astroengine/maintainers

Classify chart angles as points (#513)
  astroengine/core/bodies.py
  profiles/scoring_policy.json
  tests/test_body_gating.py
Owners: @astroengine/runtime-core, @astroengine/maintainers, @astroengine/qa

Add chakra correspondences and VCA emphasis helper
  astroengine/esoteric/__init__.py
  astroengine/esoteric/chakras.py
  astroengine/modules/esoteric/__init__.py
  astroengine/modules/reference/catalog.py
  docs/module/esoteric_overlays.md
  profiles/correspondences/chakras.json
  tests/esoteric/test_chakras.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/maintainers, @astroengine/qa

Align narrative profiles directory with settings
  astroengine/config/narrative_profiles.py
Owners: @astroengine/runtime-core

Add Chinese astrology engines and CLI integration
  astroengine/chinese/__init__.py
  astroengine/chinese/constants.py
  astroengine/chinese/four_pillars.py
  astroengine/chinese/sexagenary.py
  astroengine/chinese/zi_wei.py
  astroengine/cli/app.py
  astroengine/modules/__init__.py
  astroengine/modules/chinese/__init__.py
  docs/module/chinese_astrology.md
  profiles/domains/chinese.yaml
  tests/chinese/test_four_pillars.py
  tests/chinese/test_zi_wei.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/maintainers, @astroengine/qa

Fix synastry reference related entry
  astroengine/modules/reference/catalog.py
Owners: @astroengine/runtime-core

Remove duplicate ics dependency
  pyproject.toml
Owners: @astroengine/maintainers

Add local narrative backend, journaling, and chatbot CLI
  astroengine/cli/app.py
  astroengine/narrative/__init__.py
  astroengine/narrative/journaling.py
  astroengine/narrative/local_model.py
  astroengine/narrative/profiles.py
  astroengine/narrative/prompts.py
  astroengine/utils/i18n.py
  astroengine/ux/plugins/__init__.py
  astroengine/ux/plugins/example.py
  docs/recipes/narrative_profiles.md
  tests/cli/test_chatbot_cli.py
  tests/test_narrative_journaling.py
  tests/test_narrative_local_model.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/qa

Expand default transit aspect catalog
  astroengine/core/transit_engine.py
  tests/core/test_transit_engine.py
Owners: @astroengine/runtime-core, @astroengine/qa

Ensure vertex points use BodyPosition helper
  astroengine/chart/natal.py
  tests/chart/test_natal_vertex.py
Owners: @astroengine/runtime-core, @astroengine/qa

Add astrological indicators catalog and documentation
  astroengine/modules/reference/__init__.py
  astroengine/modules/reference/catalog.py
  docs/reference/astrological_indicators.md
  docs/reference/knowledge_base.md
  tests/test_module_registry.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/qa

Add cultural calendar systems and tradition metadata
  astroengine/chart/natal.py
  astroengine/modules/__init__.py
  astroengine/modules/chinese/__init__.py
  astroengine/modules/mayan/__init__.py
  astroengine/modules/tibetan/__init__.py
  astroengine/systems/__init__.py
  astroengine/systems/chinese.py
  astroengine/systems/mayan.py
  astroengine/systems/tibetan.py
  docs/module/cross_tradition_calendars.md
  tests/systems/test_cultural_systems.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/qa

Expand aspects-plus harmonics catalog
  astroengine/core/aspects_plus/harmonics.py
  astroengine/core/aspects_plus/orb_policy.py
  tests/test_harmonics.py
  tests/test_matcher.py
  tests/test_ranking_bins.py
Owners: @astroengine/runtime-core, @astroengine/qa

Expand aspects-plus harmonics catalog
  astroengine/core/aspects_plus/harmonics.py
  astroengine/core/aspects_plus/orb_policy.py
  tests/test_harmonics.py
  tests/test_matcher.py
  tests/test_ranking_bins.py
Owners: @astroengine/runtime-core, @astroengine/qa

Add chakra correspondences and VCA emphasis helper (#516)
  astroengine/esoteric/__init__.py
  astroengine/esoteric/chakras.py
  astroengine/modules/esoteric/__init__.py
  astroengine/modules/reference/catalog.py
  docs/module/esoteric_overlays.md
  profiles/correspondences/chakras.json
  tests/esoteric/test_chakras.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/maintainers, @astroengine/qa

Align narrative profiles directory with settings (#517)
  astroengine/config/narrative_profiles.py
Owners: @astroengine/runtime-core

Add Chinese astrology engines and CLI integration (#518)
  astroengine/chinese/__init__.py
  astroengine/chinese/constants.py
  astroengine/chinese/four_pillars.py
  astroengine/chinese/sexagenary.py
  astroengine/chinese/zi_wei.py
  astroengine/cli/app.py
  astroengine/modules/__init__.py
  astroengine/modules/chinese/__init__.py
  docs/module/chinese_astrology.md
  profiles/domains/chinese.yaml
  tests/chinese/test_four_pillars.py
  tests/chinese/test_zi_wei.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/maintainers, @astroengine/qa

Fix synastry reference related entry (#519)
  astroengine/modules/reference/catalog.py
Owners: @astroengine/runtime-core

Remove duplicate ics dependency (#520)
  pyproject.toml
Owners: @astroengine/maintainers

Add local narrative backend, journaling, and chatbot CLI (#521)
  astroengine/cli/app.py
  astroengine/narrative/__init__.py
  astroengine/narrative/journaling.py
  astroengine/narrative/local_model.py
  astroengine/narrative/profiles.py
  astroengine/narrative/prompts.py
  astroengine/utils/i18n.py
  astroengine/ux/plugins/__init__.py
  astroengine/ux/plugins/example.py
  docs/recipes/narrative_profiles.md
  tests/cli/test_chatbot_cli.py
  tests/test_narrative_journaling.py
  tests/test_narrative_local_model.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/qa

Expand default transit aspect catalog (#522)
  astroengine/core/transit_engine.py
  tests/core/test_transit_engine.py
Owners: @astroengine/runtime-core, @astroengine/qa

Ensure vertex points use BodyPosition helper (#523)
  astroengine/chart/natal.py
  tests/chart/test_natal_vertex.py
Owners: @astroengine/runtime-core, @astroengine/qa

Add astrological indicators catalog and documentation (#524)
  astroengine/modules/reference/__init__.py
  astroengine/modules/reference/catalog.py
  docs/reference/astrological_indicators.md
  docs/reference/knowledge_base.md
  tests/test_module_registry.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/qa

Add cultural calendar systems and tradition metadata (#525)
  astroengine/chart/natal.py
  astroengine/modules/__init__.py
  astroengine/modules/mayan/__init__.py
  astroengine/modules/tibetan/__init__.py
  astroengine/systems/__init__.py
  astroengine/systems/chinese.py
  astroengine/systems/mayan.py
  astroengine/systems/tibetan.py
  docs/module/cross_tradition_calendars.md
  tests/systems/test_cultural_systems.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/qa

Expand aspects-plus harmonics catalog (#526)
  astroengine/core/aspects_plus/harmonics.py
  astroengine/core/aspects_plus/orb_policy.py
  tests/test_harmonics.py
  tests/test_matcher.py
  tests/test_ranking_bins.py
Owners: @astroengine/runtime-core, @astroengine/qa

Fix registry bootstrap for reference module
  astroengine/modules/__init__.py
Owners: @astroengine/runtime-core

Fix registry bootstrap for reference module (#528)
  astroengine/modules/__init__.py
Owners: @astroengine/runtime-core

Load VCA catalogs from outline profile
  astroengine/modules/vca/__init__.py
  astroengine/modules/vca/catalogs.py
  profiles/vca_outline.json
  tests/test_vca_catalogs.py
Owners: @astroengine/runtime-core, @astroengine/maintainers, @astroengine/qa

Load VCA catalogs from outline profile (#529)
  astroengine/modules/vca/__init__.py
  astroengine/modules/vca/catalogs.py
  profiles/vca_outline.json
  tests/test_vca_catalogs.py
Owners: @astroengine/runtime-core, @astroengine/maintainers, @astroengine/qa

Add Windows installer support runbook and cross-references
  docs/DEV_SETUP.md
  docs/module/developer_platform/submodules/installers/windows_one_click.md
  docs/quickstart.md
  docs/runbook/windows_installer_support.md
Owners: @astroengine/docs

Implement provider metadata registry and document detector wiring
  astroengine/modules/event_detectors/__init__.py
  astroengine/modules/providers/__init__.py
  astroengine/providers/__init__.py
  astroengine/providers/skyfield_provider.py
  astroengine/providers/swiss_provider.py
  docs/governance/evidence/2025-10-05-detectors-providers.md
  docs/governance/spec_completion.md
  docs/module/event-detectors/overview.md
  docs/module/providers_and_frames.md
  docs/providers/registry.md
  tests/test_event_detectors_module_registry.py
  tests/test_provider_registry_metadata.py
  tests/test_providers_module_registry.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/qa

Add provider metrics aggregation and instrumentation
  astroengine/observability/__init__.py
  astroengine/observability/metrics.py
  astroengine/providers/__init__.py
  docs/providers/registry.md
  tests/observability/test_metrics.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/qa

Add CLI entrypoints for transit scan and ephemeris pull
  Dockerfile
  astroengine/cli/app.py
  astroengine/ephe/__init__.py
  astroengine/ephe/pull.py
  docker-compose.yml
  tests/integration/test_docker_cli_commands.py
  tests/test_ephe_pull.py
Owners: @astroengine/maintainers, @astroengine/runtime-core, @astroengine/qa

Add export manifest schema and CLI integration
  astroengine/cli/channels/transit/scan.py
  astroengine/cli/export.py
  astroengine/exporters/manifest.py
  docs/module/interop.md
  schemas/export_manifest_v1.json
  tests/test_cli.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/maintainers, @astroengine/qa

Implement ingress detector toggles and CLI command
  astroengine/app_api.py
  astroengine/cli/app.py
  astroengine/detectors/ingresses.py
  astroengine/modules/event_detectors/__init__.py
  docs/mundane_ingress.md
  tests/test_cli.py
  tests/test_ingresses_mundane.py
Owners: @astroengine/runtime-core, @astroengine/docs, @astroengine/qa
