Repository rinward23/AstroEngine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @astroengine/maintainers, @astroengine/runtime-core, @astroengine/app-platform, @astroengine/ui-ux, @astroengine/extensibility, @astroengine/docs, @astroengine/qa, @astroengine/release-ops, @astroengine/devex, @astroengine/data-team

Fix launchpad page links in Streamlit portal (#551)
  docs/quickstart.md
  ui/streamlit/launchpad.yaml
  ui/streamlit/main_portal.py
Owners: @astroengine/docs, @astroengine/ui-ux

Add focused timelord metadata unit test (#552)
  astroengine/modules/esoteric/__init__.py
  tests/engine/test_scanning_timelords.py
Owners: @astroengine/runtime-core, @astroengine/qa

Add targeted tests for signed_delta edge cases (#553)
  tests/test_angles_utils.py
Owners: @astroengine/qa

Add ingress policy tests and fix esoteric import (#554)
  astroengine/modules/esoteric/__init__.py
  tests/detectors/test_ingresses_policy.py
Owners: @astroengine/runtime-core, @astroengine/qa

Handle default dashboard layout gracefully (#555)
  profiles/dashboard_layout.json
  ui/streamlit/layout_state.py
  ui/streamlit/main_portal.py
Owners: @astroengine/maintainers, @astroengine/ui-ux

Add deterministic timelord unit test for partial segments (#556)
  tests/timelords/test_dashas_unit.py
Owners: @astroengine/qa

Fix CLI Typer app definitions and refresh coverage
  astroengine/cli/app.py
  coverage.xml
Owners: @astroengine/runtime-core, @astroengine/maintainers

Fix CLI Typer app definitions and refresh coverage (#557)
  astroengine/cli/app.py
  coverage.xml
Owners: @astroengine/runtime-core, @astroengine/maintainers

Add unit tests for core profile, transit, and scoring logic
  astroengine/core/config.py
  tests/core/test_config_profiles.py
  tests/core/test_scoring_factors.py
  tests/core/test_transit_engine.py
Owners: @astroengine/runtime-core, @astroengine/qa

Add focused tests for app API, maint CLI, diagnostics, and doctor
  tests/app/test_app_api.py
  tests/observability/test_doctor.py
  tests/ops/test_diagnostics.py
  tests/ops/test_maint_cli.py
Owners: @astroengine/qa

Add traditional life length and ZR unit tests
  tests/traditional/test_life_lengths.py
  tests/traditional/test_zr.py
Owners: @astroengine/qa

Add targeted horary test coverage
  tests/horary/test_judgement.py
  tests/horary/test_radicality.py
  tests/horary/test_rulers_aspects.py
Owners: @astroengine/qa

Add deterministic detector fixtures and behavioural tests
  tests/detectors/conftest.py
  tests/detectors/test_event_detectors_behaviour.py
  tests/detectors/test_ingresses_behaviour.py
  tests/detectors/test_returns_behaviour.py
Owners: @astroengine/qa

Add synthetic coverage for declinations and transit scanning
  tests/analysis/test_declinations.py
  tests/chart/test_transits.py
Owners: @astroengine/qa

Add ephemeris and skyfield provider tests
  tests/ephemeris/test_swisseph_adapter.py
  tests/providers/test_skyfield_provider.py
Owners: @astroengine/qa

Add unit tests for target frames and contact scoring
  tests/scoring/test_contact.py
  tests/utils/test_target_frames.py
Owners: @astroengine/qa

Add transit overlay engine tests
  tests/ux/test_transit_overlay_engine.py
Owners: @astroengine/qa

Add transit overlay engine tests
  tests/ux/test_transit_overlay_engine.py
Owners: @astroengine/qa

Gracefully handle missing Swiss ephemeris in timeline engine
  astroengine/relation_timeline/engine.py
Owners: @astroengine/runtime-core

Add targeted timelord unit tests
  tests/timelords/test_dashas.py
  tests/timelords/test_profections.py
  tests/timelords/test_vimshottari_utils.py
Owners: @astroengine/qa

Fix cursor lifecycle in positions cache
  astroengine/cache/positions_cache.py
Owners: @astroengine/runtime-core

Fix Swiss ephemeris rise/transit constant lookup
  astroengine/ephemeris/swisseph_adapter.py
Owners: @astroengine/runtime-core

Add unit tests for core profile, transit, and scoring logic (#558)
  astroengine/core/config.py
  tests/core/test_config_profiles.py
  tests/core/test_scoring_factors.py
  tests/core/test_transit_engine.py
Owners: @astroengine/runtime-core, @astroengine/qa

Add focused tests for app API, maint CLI, diagnostics, and doctor (#559)
  tests/app/test_app_api.py
  tests/observability/test_doctor.py
  tests/ops/test_diagnostics.py
  tests/ops/test_maint_cli.py
Owners: @astroengine/qa

Add traditional life length and ZR unit tests (#560)
  tests/traditional/test_life_lengths.py
  tests/traditional/test_zr.py
Owners: @astroengine/qa

Add targeted horary test coverage (#561)
  tests/horary/test_judgement.py
  tests/horary/test_radicality.py
  tests/horary/test_rulers_aspects.py
Owners: @astroengine/qa

Add deterministic detector fixtures and behavioural tests (#562)
  tests/detectors/conftest.py
  tests/detectors/test_event_detectors_behaviour.py
  tests/detectors/test_ingresses_behaviour.py
  tests/detectors/test_returns_behaviour.py
Owners: @astroengine/qa

Add synthetic coverage for declinations and transit scanning (#563)
  tests/analysis/test_declinations.py
  tests/chart/test_transits.py
Owners: @astroengine/qa

Add ephemeris and skyfield provider tests (#564)
  tests/ephemeris/test_swisseph_adapter.py
  tests/providers/test_skyfield_provider.py
Owners: @astroengine/qa

Add unit tests for target frames and contact scoring (#565)
  tests/scoring/test_contact.py
  tests/utils/test_target_frames.py
Owners: @astroengine/qa

Add transit overlay engine tests (#566)
  tests/ux/test_transit_overlay_engine.py
Owners: @astroengine/qa

Gracefully handle missing Swiss ephemeris in timeline engine (#568)
  astroengine/relation_timeline/engine.py
Owners: @astroengine/runtime-core

Add targeted timelord unit tests (#569)
  tests/timelords/test_dashas.py
  tests/timelords/test_profections.py
  tests/timelords/test_vimshottari_utils.py
Owners: @astroengine/qa

Fix cursor lifecycle in positions cache (#570)
  astroengine/cache/positions_cache.py
Owners: @astroengine/runtime-core

Fix Swiss ephemeris rise/transit constant lookup (#571)
  astroengine/ephemeris/swisseph_adapter.py
Owners: @astroengine/runtime-core

Import Mapping and Sequence for ingress table
  astroengine/cli/app.py
Owners: @astroengine/runtime-core

Handle missing distribution versions for required deps
  astroengine/utils/dependencies.py
  tests/test_dependencies_utils.py
Owners: @astroengine/runtime-core, @astroengine/qa

Import Mapping and Sequence for ingress table (#572)
  astroengine/cli/app.py
Owners: @astroengine/runtime-core

Handle missing distribution versions for required deps (#573)
  astroengine/utils/dependencies.py
  tests/test_dependencies_utils.py
Owners: @astroengine/runtime-core, @astroengine/qa

Handle dynamic Swiss Ephemeris availability in astrocartography
  astroengine/analysis/astrocartography.py
  tests/analysis/test_astrocartography.py
Owners: @astroengine/runtime-core, @astroengine/qa

.github/CODEOWNERS:

# Code ownership for AstroEngine core directories
# Default owner
* @astroengine/maintainers

# Runtime core and foundational modules
/astroengine/ @astroengine/runtime-core
/core/ @astroengine/runtime-core

# Application surfaces and UI packages
/apps/ @astroengine/app-platform
/ui/ @astroengine/ui-ux

# Plugin ecosystem and registries
/plugins/ @astroengine/extensibility
/registry/ @astroengine/extensibility

# Documentation and specs
/docs/ @astroengine/docs
/docs-site/ @astroengine/docs

# Quality engineering and automation
/tests/ @astroengine/qa
/qa/ @astroengine/qa

# Operational tooling and infrastructure
/.github/ @astroengine/release-ops
/ops/ @astroengine/release-ops
/scripts/ @astroengine/devex

# Data assets and migrations
/data/ @astroengine/data-team
/datasets/ @astroengine/data-team
/migrations/ @astroengine/data-team
